{% extends 'trainee/base.html' %}
{% load static %}
{% block content %}
    <section class="about">
        <div class="container">
        <h2>About the Project</h2>
        <p>The Trainee Information Management System is a web application built using Django, designed to streamline the process of managing trainee information within an organization.</p>
        
        <h3>Features</h3>
        <ul>
            <li>Efficiently store and retrieve trainee data.</li>
            <li>Track trainee progress, courses attended, and performance.</li>
            <li>Generate reports for analysis and decision-making.</li>
            <!-- Add more features here -->
        </ul>
        
        <h3>Team</h3>
        <p>This project was developed by a team of dedicated software engineers with a passion for creating effective solutions.</p>
        
        <h3>Technologies Used</h3>
        <p>The Trainee Information Management System was built using Django, a high-level Python web framework that encourages rapid development and clean, pragmatic design.</p>
        
        <!--<h3>Contact Us</h3>
        <p>If you have any questions or inquiries, please feel free to get in touch with us:</p>
        <ul>
            <li>Email: <a href="mailto:info@example.com">info@example.com</a></li>
            <li>Phone: +1 (123) 456-7890</li>
            <li>Address: Metcalfe House,New Delhi-110054, India</li>
        </ul>-->
        </div>
    </section>
{% endblock %}
