{% extends 'trainee/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 style="text-align:center;">Trainee list</h2>
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Course</th>
                <th>Phone Number</th>
                <th>Address</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
            <tr>
                <td>{{ trainee.first_name }}</td>
                <td>{{ trainee.email }}</td>
                <td>{{ trainee.date_of_birth }}</td>
                <td>{{ trainee.course }}</td>
                <td>{{ trainee.phone_number }}</td>
                <td>{{ trainee.address }}</td>
                <!-- Add more columns as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
